# install using: pip3 install --upgrade -r requirements.txt
git+https://github.com/owasp-sbot/OSBot-Utils.git
git+https://github.com/owasp-sbot/OSBot-AWS.git
boto3
pyyaml
python-dotenv
syncer
pyppeteer

# for testing
coveralls
pytest
pytest-cov
